<!DOCTYPE html>
<html lang="en">
<head>
<script>
  const NodeList = document.querySelectorAll('nothing');
  const HTMLCollection = document.getElementsByTagName('nothing');
  const User = <%-JSON.stringify(User)%>;
</script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="/Pictures">
<link rel="stylesheet" href="/general.css">
<link rel="stylesheet" href="/navbar.css">
<script src="/Helpers.js"></script>
<script src="/DOM-proto.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

<meta property="og:image" content="https://vigilu.herokuapp.com/Hologlobe.jpg"/>
<meta property="og:description" content="VIGIL aims to expand on conventional product/area review outlets by providing 
journalistic users a platform for submitting more extensive but unbias research on general service providers, 
and assisting viewers in cross-referencing this information to make informed decisions on who they support, 
purchase from, or are considering for any type of affiliation."/>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <meta charset="UTF-8">
  <title>Vigil</title>
</head>

<!-- =============================================================== -->
  <nav class="navbar navbar-expand-lg sticky-top justify-content-center">
    <a class="navbar-brand" href="/"><img src="/Protect Logo.png" alt="" width=80 height=80 id="navlogo"></a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbutton">
    <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-center" id="navbutton">
      <ul class="navbar-nav" id="navcontent">
        <!-- New Items -->
        <li class="nav-item dropdown p-1">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">New</a>
          <div class="dropdown-menu">
            <% if (User) {%>
              <a class="dropdown-item disabled" href="/register">User Profile</a>
            <% } else {%>
              <a class="dropdown-item" href="/register">User Profile</a>
            <% } %>
            <a class="dropdown-item" href="/station/new">Station</a>
            <a class="dropdown-item" href="/article/new">Article</a>
            <a class="dropdown-item" href="#">Request</a>
          </div>
        </li>
        <!-- <END OF> New Items >-->

        <li class="nav-item p-1">
          <a class="nav-link" href="/main">Stations/Places</a>
        </li>
        <li class="nav-item p-1">
          <a class="nav-link" href="/article/all">Articles</a>
        </li>

      <!-- User/Admin Listing Dropdown: USERS collection is available in database, iterates through all Users or Admins and displays name and profile picture, with link to their page -->
      <%function userList (entries, header){%>
        <li class="nav-item dropdown p-1">
          <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"><%=header%></a>
          <div class="dropdown-menu all-users">
            <% for (let user of entries) { %>
              <div class="card user-info">
              <a href="/users/<%=user.id%>" class="dropdown-item"><h6><%=user.username%>  ↓</h6><img src="<%=user.profilePic.url%>" class="user-image" width=100 height=100 alt=""></a>
              </div>
            <% } %>
          </div>
        </li>
      <%}%>

      <% if (users) { %>
        <%=userList(users, 'User List')%>
      <% } %>
      <% if (admins) { %>
        <%=userList(admins, 'Administrators')%>
      <% } %>

      <% if (User) { %>
        <li class="nav-item dropdown p-1">
          <a class="dropdown-item" href="/users/<%=User.id%>"><img src="<%=User.profilePic.url%>" class="user-image" width=50 height=50></a>
          <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="/register"><%=User.username%></a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="/users/<%=User.id%>">Personal Info</a>
            <a class="dropdown-item" href="/users/<%=User.id%>/posts">Comments/Posts</a>
            <form action="/users/<%=User.id%>?_method=DELETE" method="POST">
              <button class="btn btn-danger dropdown-item">Delete Yourself</button>
            </form>
           </div>
          </li>
        <li class="nav-item p-1" id="signout">
          <a class="nav-link" href="/signout">Signout</a>
        </li>
<!-- =============================================================== -->

      <!-- Login Link: If there is no session ID (a registered user or admin)-->
      <% } else { %>

      <li class="nav-item dropdown p-1" id="login">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <!-- <END OF> Login-->
      <% } %>
      </div>
    </ul>
  </nav>
<!-- =============================================================== -->
  <!-- The body is dynamic: It's the HTML/CSS of whatever page the user is browsing -->
<%- include('../partials/flash') %>
<%- body  %>
<%- include('../partials/footer') %>
<!-- Latest compiled and minified CSS -->

<!-- =============================================================== -->
<script type="text/javascript">
  window.addEventListener('load', () => {
    for (let img of DOM('img*')){
      if (DOM(img).Attr('?src') === 'src') {
        DOM(img).Attr({src: '/Unknown.png'});
      }
    }
  })
</script>
</html>
