<%- layout('layouts/boilerplate') %>
<%function infoList (array, headnote){%>
  <div class="form-group">
  <h5><%=array.length ? headnote : ''%></h5>
    <%for(let i of array){%>
      <span class="card-text text-muted"><%=i%>,</span>
    <%}%>
  </div>
<%}%>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" type="text/css" href="/stars.css">
<link rel="stylesheet" type="text/css" href="/station.css">
<script type="text/javascript">
  const station = <%-JSON.stringify(currentStation)%>;
  console.log (station);
</script>

<main id="main" class="row">
  <section class="container col-md-12 col-lg-6" id="stationCard">
    <hr>
    <a href="/station/<%=currentStation.id%>" class="d-block" style="margin-left: 35%"><h4 class="card-title" style="font-family: 'Raleway'"><%=currentStation.name%></h4></a>
      <div id="stationImageSlider" class="carousel slide" data-interval="false" data-ride="carousel">
          <div class="carousel-inner">
              <% for( let image of currentStation.images) { %>
            <div class="carousel-item active">
              <img class="card-img-top d-block img-fluid" src="<%=image.url%>" alt="First slide">
            </div>
            <% } %>
          </div>

          <a class="carousel-control-prev" href="#stationImageSlider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#stationImageSlider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>

      <div class="card-body row" style="border: 3px double gray; font-family: monospace;">
        <div class="col-6 row">
          <h5 class="card-text"><%=currentStation.geometry.location[0]%>, <%=currentStation.geometry.location[1]%>, <%=currentStation.zipcode%></h5>
        </div>

        <div class="square d-flex col-6">
        <h5 class="card-text">Created by: <%=currentStation.owner%></h5>
        <% if (User.username === currentStation.owner) { %>
          <img src="<%=User.profilePic.url%>" class="d-block user-image">
        <% } %>
        </div>
        <hr>
        <div id='map' class="my-3 col-sm-12" style='height: 700px;' ></div>
        </div>
        <hr>
      <div>
        <%= infoList(currentStation.warnings, 'Notes/Warnings:');%>
        <%= infoList(currentStation.affiliates, 'Business type/affiliation:');%>
        <%= infoList(currentStation.industry, 'Industries:');%>
        <div class="d-flex justify-content-between w-100 p-2">
        <% if (User && User.username == currentStation.owner || User && User.admin) { %>
            <a href="/station/<%=currentStation.name%>/<%=currentStation.id%>" class="btn btn-info p-1" role="button">Edit Station</a>
            <a class="btn btn-danger p-1" href="/station/<%=currentStation.id%>?_method=DELETE">Delete Station</a>
        <% } %>
        </div>
      </div>
  </section>

<!-- ================================================== -->
  <section class="container d-block align-self-start col-md-12 col-lg-4">
    <div class="p-3 m-3">
      <p id="description" class="card-text"><%=currentStation.description%></p>
    </div>
    <hr>
    <a href="/review/new/<%=currentStation.id%>" class="btn btn-primary p-1 d-block" role="button">Post Review</a>
  <div class="row d-flex justify-content-center review-list">

  <% if (currentStation.reviews) { %>

<!-- #1: If there are any reviews, then we list each one through "stationReview", and find the creater of that review
using our populate/path methods from Mongoose -->
  <% for( let stationReview of currentStation.reviews) { %>

      <%let currentReviewer%>
      <% if (stationReview.admin && stationReview.admin.length) { %>
          <%currentReviewer = stationReview.admin[0]%>
      <% } %>

      <% if (stationReview.user && stationReview.user.length) {%>
          <%currentReviewer = stationReview.user[0]%>
      <% } %>

    <div class="card p-3 m-3 review-box hide" id="<%=stationReview.id%>">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="my-3">"<%=stationReview.statement%>"</h4>
          <p class="starability-result" data-rating="<%=stationReview.rating%>"></p>
        </div>
          <% if (User && User.id === currentReviewer.id){ %>
            <div class="d-flex">
              <a class="btn btn-sm btn-danger m-1" href="/review/<%=stationReview.id%>?_method=DELETE">Delete</a>
              <a type="button" class="btn btn-sm btn-info edit-review m-1">Edit</a>
            </div>
          <% } %>
      </div>
      <p class="card-text" id="reviewText"><%=stationReview.content%></p>
      <blockquote class="blockquote text-center">
        <footer class="blockquote-footer"> <cite><span class="text-success"><%=currentReviewer.username%></span>,  <%=stationReview.date%></cite></footer>
      </blockquote>
    <!-- If there were any images posted by the User, store them (but hide them) unless selected to display by the browsing User -->
      <% if (stationReview.images && stationReview.images.length) { %>

        <h5><%=currentReviewer.username%> posted images below</h5>
        <div class="form-inline row d-flex justify-content-center">
            <!-- For editing/removing images from the current station. We use "review-image" class and the station's ID for interaction through the DOM -->
        <div id="reviewImages">
          <% for (let image of stationReview.images) { %>
              <img src="<%=image.thumbnail%>" class="review-image hide img-thumbnail" id="<%=stationReview.id%>" alt="">
          <% } %>
        </div>
        <button class="btn btn-primary" onclick="imageDisplay(this, this.previousElementSibling)" type="button" id="<%=stationReview.id%>">Show Images (<%=stationReview.images.length%>)</button>
      </div>

      <% } %>
      <hr>
    </div>
      <% } %>
    <% } %>
    </div>
  </section>

</main>
<!-- This displays a new form, and hides all other reviews IF the User clicks Edit Review -->

<!-- ======================================================================
End of Top Page: Reviews are below
======================================================================= -->
<form id="editReviewForm" class="form container" action="/review/edit" method="POST" enctype="multipart/form-data" hidden>
  <% if (User && User.admin) { %>
    <input type="text" class="form-control hide" name="admin" value="<%=User.id%>">
  <% } else if (User){%>
    <input type="text" class="form-control hide" name="user" value="<%=User.id%>">
  <% } %>

    <div class="form-group">
        <label for="statement">Blanket statement goes here</label>
        <input type="text" name="statement" class="form-control">
    </div>

    <div class="form-group">
        <label for="images">Put your worthless opinion below</label>
        <input type="file" name="images" class="form-control" multiple>
    </div>

    <div class="form-group">
        <label for="rating">Terrible to Great?</label>
    <fieldset class="starability-basic">
        <legend>First rating:</legend>
        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="rating" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="rating" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="rating" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="rating" value="4" />
        <label for="first-rate4" title="Good">4 stars</label>
        <input type="radio" id="first-rate5" name="rating" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
    </div>

    <div class="form-group">
        <label for="content">Put your worthless opinion below</label>
        <textarea class="form-control" type="range" cols="30" rows="10" name="content" id="content"></textarea>
    </div>

    <input type="text" name="station" class="hide" value="<%=currentStation._id%>">
    <div class="row justify-content-center">
        <button class="col-sm-5 btn btn-success form-control m-3" type="submit">Adjust Review</button>
        <a class="col-sm-5 btn btn-primary form-control m-3" type="button" id="nevermind" onclick="hideReviewForm()">Nevermind</a>
    </div>
    <input type="text" name="date" value="<%=new Date().toLocaleString()%>" hidden>
</form>

<!-- In-House CSS -->
<style media="screen">
  body{
    background: url(<%=currentStation.images[0].url%>);
    background-size: cover;
    background-attachment: fixed;
    color:aliceblue;
  }
</style>


<!-- In-House Javascript -->
<script>
  // Map
  mapboxgl.accessToken = '<%=process.env.MAPBOX_TOKEN%>';
  const long = '<%=currentStation.geometry.coordinates[0]%>';
  const lat = '<%=currentStation.geometry.coordinates[1]%>';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v10', // stylesheet location
    center: [long, lat], // starting position [lng, lat]
    zoom: 9 // starting zoom
  });
  var marker = new mapboxgl.Marker()
    .setLngLat([long, lat])
    .setPopup(new mapboxgl.Popup({offset: 25})
    .setHTML(`<h6><%=currentStation.name%><h6>`))
    .addTo(map);
  // <END OF> Map


  for (let review of DOM('.edit-review*')) {
    review.addEventListener('click', function (){
      DOM('.review-box*').Show();
      let reviewBox = DOM(this).Relatives('parent', '.review-box').Hide();
      let review = station.reviews.find( r => r._id === reviewBox.id);
      DOM('#editReviewForm').Attr({action: `/review/edit/${review._id}?_method=PUT`}).Show().AddTo(reviewBox, '<<').Find('textarea').Attr({value: review.content});
      /* ---------------------------- Need to get Find to work (problem operating on node list)*/
    });
  }

window.addEventListener('scroll', () => {
  paginateContent(DOM('.review-list'), DOM('.review-box.hide*'), 2);
});

  function imageDisplay (button, imageList) {
    for (let image of imageList.children) {
      DOM(image).Show( (visible) => {
        if (visible.length) {
          DOM(...visible).Hide();
          button.innerText = `Show Images (${imageList.children.length})`;
        } else button.innerText = 'Hide Images';
      });
    };
  };

  function hideReviewForm() {
    DOM('#editReviewForm').Hide();
    DOM('.review-box*').Show();
  }

</script>
