<%- layout('layouts/boilerplate') %>
<script type="text/javascript">
  const thisUser = <%-JSON.stringify(selectedUser)%>;
  console.log (thisUser);
</script>
<link rel="stylesheet" href="/user.css">
<!-- Primary user summary -->
<main id="main" class="container">
    <section class="card container p-3">
        <h2 class="card-title"><%=selectedUser.username%></h2>
        <div class="card-body p-0">
            <div class="card-img-top m-2">
                <img id="userImage" src="<%=selectedUser.profilePic.url%>" class="img-fluid float-left">
            </div>
            <div class="container d-inline m-2">
                <p id="summary"><%=selectedUser.summary || 'This user has provided no background/summary. And honestly, why should you care?'%></p>
            </div>
        </div>
        <hr>
        <a href="<%=selectedUser.id%>/posts" type="button" class="btn btn-md btn-primary">View Creations</a>
        <% if (User && User.id === selectedUser.id) {%>
          <div class="form-group d-flex justify-content-around">
            <a href="/edit/user/<%=selectedUser.id%>" type="button" class="btn btn-md btn-info">Edit Profile</a>
            <form action="/users/<%=selectedUser.id%>?_method=DELETE" method="DELETE">
              <button type="submit" class="btn btn-md btn-danger">Delete Profile</button>
            </form>
          </div>
        <%}%>
    </section>
</main>
<div class="" style="height: 200px">

</div>
